@charset "utf-8";
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:400;}
html,body,img,iframe,abbr{border:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.5 Arial,"Microsoft YaHei","simsun";color:#000;outline:0;}
body{background:#fff;}
a{color:#000;font-family:Arial,"Microsoft YaHei","simsun";}
i,em{font-style:normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#aaa;font-size:13px;}
input:-moz-placeholder, textarea:-moz-placeholder{color:#aaa;font-size:13px;}
input::-moz-placeholder, textarea::-moz-placeholder{color:#aaa;font-size:13px;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#aaa;font-size:13px;}
img{ vertical-align:middle;}
::-webkit-scrollbar{width:auto; height:8px;background-color:#e9edf4;}
::-webkit-scrollbar-thumb {background-color:#ccc;border-radius:2em;-webkit-border-radius:2em;-moz-border-radius:2em; -o-border-radius:2em;}
::-webkit-scrollbar-thumb:hover{background-color:#9bbbfa;}

/*icon*/
.c-ico{background:url(../images/icon.png) no-repeat;display:inline-block;vertical-align:middle;}
.ico-phone{background-position:0 0;height:18px;width:12px;margin:-3px 4px 0 0;}
.ico-tel{background-position:-30px 0;height:18px;width:12px;margin:-3px 3px 0 0;}
.ico-glb{background-position:-60px 0;height:18px;width:18px;margin-right:3px;}
.ico-arw01{background-position:-100px 0;height:18px;width:18px;}
.ico-sort{background-position:-140px 0;height:14px;width:20px;margin:-3px 18px 0 0;}
.ico-arw02{background-position:-180px 0;height:20px;width:8px;}
.ico-post{background-position:-210px 0;height:20px;width:20px;margin:-3px 5px 0 0;}
.ico-point{background-position:-277px -7px;height:8px;width:8px;margin:-2px 8px 0 0;}
.ico-market{background-position:-246px -4px;height:14px;width:17px;margin:-3px 5px 0 0;}
.ico-ship-b{background-position:0 -80px;height:52px;width:52px;}
.ico-ship-g{background-position:-80px -80px;height:52px;width:52px;}
.ico-ship-o{background-position:-160px -80px;height:52px;width:52px;}
.ico-coop{background-position:0 -36px;height:20px;width:20px;margin:-2px 10px 0 0;}
.ico-flink{background-position:-40px -36px;height:20px;width:20px;margin:-2px 10px 0 0;}
.ico-kf{background-position:-80px -36px;height:20px;width:24px;}
.ico-top{background-position:-120px -36px;height:20px;width:18px;}
.ico-suc{background-position:0 -150px;height:73px;width:81px;}
.ico-arrow-unfold{background-position:-150px -270px;height:10px;width:12px;}
.ico-fav{background-position:0 -275px;height:15px;width:19px;}
.ico-vs-s{background-position:-65px -270px;height:25px;width:19px;}
.ico-vs-b{background-position:-105px -265px;height:32px;width:25px;}
.ico-close{background-position:-40px -280px;height:10px;width:10px;}
.ico-delete{background-position:-180px -270px;height:11px;width:9px;}
.ico-btn-x{background-position: -290px -270px;  width: 7px;height: 7px;}
.cgdt-pro:hover .ico-btn-x,.ico-btn-x:hover{background-position: -290px -290px;}

/*head*/
.header{position:relative;z-index:100;}
.top-wrap{background-color:#f8f8f8;border-bottom:1px solid #eee;height:36px;}
.inner{max-width:1200px;max-width:calc(1600px + 10%);box-sizing:border-box;margin:0 auto;padding-left:5%;padding-right:5%;zoom:1;}
@media (max-width:1600px){
.inner{min-width:1200px;max-width:90%;}
	}
.top-l{float:left;color:#666;font-size:13px;line-height:36px;width:48%;}
.wel-txt{color:#999;margin-right:10px;}
.t-log,.t-reg{margin:0 5px;}
.t-log:hover,.t-reg:hover{text-decoration:underline;}
.top-r{float:right;font-size:13px;line-height:36px;width:52%;}
.tr-list{float:right;}
.tr-list li{display:inline-block;color:#666;margin:0 10px;}
.tr-list li a:hover{color:#317ee7;}
.user-txt{color:#666;}
.ph-txt{position:relative;padding-bottom:2px;}
.ph-txt,.kf-txt{color:#999;}
.glb-link{color:#0f990f;display:inline-block;margin-left:30px;}
.glb-link:hover{text-decoration:underline;}
.head-con{height:70px;background:url(../images/heder-bg.png) no-repeat center center;background-size:cover;}
.head-l{float:left;}
.logo{background:url(../images/logo.png) no-repeat;font-size:28px;display:inline-block;width:150px;height:40px;margin-top:15px;}
/*头部搜索*/
.head-search{float:right;margin-top:19px; display:none;}/*隐藏搜索框*/
.h-srh-select{background-color:#fff;border:2px solid #317ee7;display:inline-block;height:28px;line-height:28px;width:90px;position:relative;vertical-align:top;}
.srh-select-cur{font-size:14px;display:inline-block;height:28px;width:65px;padding:0 15px;}
.srh-select-cur .ico-arw01{position:absolute;right:3px;top:17%;}
.srh-select-ul{background-color:#fff;border:2px solid #317ee7;border-width:1px 2px 2px;font-size:14px;display:none;width:90px;position:absolute;top:28px;left:-2px;}
.srh-select-ul li{line-height:32px;padding:0 15px;}
.srh-select-ul li:hover{background-color:#f7f7f7;cursor:pointer;}
.h-srh-con{display:inline-block;height:40px;line-height:38px;vertical-align:top;}
.h-srh-inp{background-color:#fff;border:2px solid #317ee7;border-width:2px 0;height:28px;width:300px;padding:0 10px;vertical-align:top;}
.h-srh-btn{background-color:#317ee7;border:0;color:#fff;font-size:14px;height:32px;padding:0 30px;vertical-align:top;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.h-srh-btn:hover{opacity:0.85;}
.nav-wrap{background:#20335d;box-shadow:0 3px 5px 0 rgba(0,0,0,0.2);height:40px;}
.nav-item{float:left;height:40px;width:calc(99% / 9);}
.nav-item a{display:block;color:#fff;font-size:16px;height:40px;line-height:40px;width:100%;text-align:center;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.nav-item a:hover{color:#08e;}
.nav-item.act a{background:#317ee7;color:#fff;}

/*注册头部*/
.reg-head .head-con{box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);}
.slogan{border-left:1px solid #e1e1e1;display:inline-block;color:#333;font-size:20px;height:30px;line-height:40px;margin-left:20px;padding-left:15px;}
.head-r{float:right;}
a.to-log{display:inline-block;color:#0da5f3;font-size:14px;height:70px;line-height:68px;text-decoration:underline;}
a.to-log:hover{color:#08e;}

/*foot*/
.footer{background-color:#262f38;}
.ft-list{padding:30px 0;}
.ft-list li{float:left;width:20%;padding-left:5%;}
.ft-list li h3{color:#fff;font-size:18px;line-height:50px;margin-bottom:8px;}
.ft-list li a{display:block;color:#aeaeae;font-size:14px;line-height:28px;}
.ft-link{border:1px solid #3c444c;border-width:1px 0;color:#aeaeae;font-size:14px;height:40px;line-height:40px;text-align:center;}
.ft-link a{color:#aeaeae;}
.ft-link em{margin:0 8px;}
.footer p{color:#fff;line-height:65px;text-align:center;}
.ft-listfi li{float:left;width:18.8%;padding-left:1%;}

/*注册底部*/
.reg-foot{background-color:#f0f2f5;border-top:1px solid #d2d2d2;height:150px;}
.reg-foot .ft-link{border:0;color:#777;padding-top:30px;}
.reg-foot .ft-link a{color:#777;}
.reg-foot p{color:#999;}

/*toolbar*/
.toolbar{background-color:#1f272e;width:35px;position:fixed;top:0;bottom:0;right:0;z-index:1000;}
.toolbar-narrow{background-color:#000;float:left;width:36px;position:absolute;top:0;bottom:0;left:0;}
.toolbar-trigger a{background-color:#5e4a4a;color:#fff;display:block;width:20px;height:55px;text-align:center;padding:20px 8px;}
.ico-arrow-r{height:10px;width:12px;}
.ico-arrow-l{height:10px;width:12px;}
.toolbar-list{padding-top:60px;}
.toolbar-item{width:20px;line-height:1.2;text-align:center;padding:15px 8px;cursor:pointer;}
.toolbar-item.action{background-color:#7b6f6f;}
.toolbar-item a{color:#fff;}
.toolbar-item a i{width:19px;margin-bottom:5px;}
.ico-fav{height:15px;}
.ico-vs-s{height:25px;}
.fav-num,.vs-num{background-color:#0499e2;border-radius:100%;font-size:11px;display:inline-block;height:18px;line-height:18px;width:18px;text-align:center;margin-top:5px;}
.toolbar-item.action .fav-num,.toolbar-item.action .vs-num{background-color:#ffde01;color:#000;}
.toolbar-top{width:20px;line-height:1.2;text-align:center;cursor:pointer;padding:20px 8px;position:absolute;bottom:0;}
.toolbar-top a{color:#fff;}
.ico-arrow-top{height:15px;width:14px;margin-bottom:5px;}
.toolbar-wide{background-color:#393937;display:none;float:right;width:280px;position:absolute;top:0;bottom:0;right:0;}
.tb-title{color:#fff;padding:20px;position:relative;}
.ico-close{height:10px;width:10px;margin-top:-5px;position:absolute;right:20px;top:50%;}
.ico-vs-b{height:32px;width:25px;margin-right:10px;}
.vs-pro{width:260px;padding:0 10px;}
.vs-item{background-color:#fff;font-size:14px;float:left;width:90px;height:90px;text-align:center;margin:0 10px 20px;padding:10px;position:relative;}
.vs-item img{height:60px;width:90px;margin-bottom:8px;}
.ico-delete{height:11px;width:9px;position:absolute;right:3px;top:3px;}
.y-vs-a{border:1px solid #fff;border-radius:3px;color:#fff;font-size:14px;display:block;height:28px;line-height:28px;width:120px;text-align:center;margin:10px auto;}
.tool{position:absolute;bottom:5%;}
.tool li{height:20px;width:36px;padding:15px 0;text-align:center;}

/*表单*/
.form-row:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.form-row{padding:5px 0 3px;zoom:1;}
.control-label{color:#777;font-size:14px;display:block;float:left;width:32%;margin-right:1.5%;padding-top:6px;text-align:right;vertical-align:top;}
.asterisk{color:#e93057;margin-right:5px;vertical-align:middle;}
.controls{float:left;width:35%;vertical-align:top;position:relative;}
.form-inp{border:1px solid #ccc;height:32px;line-height:32px;width:95%;padding:0 1%;}
.input-tip{color:#c00;font-size:12px;height:22px;margin-left:33.5%;}
.input-tip span{display:none;}
.form-chk{display:inline-block;color:#666;font-size:14px;height:32px;line-height:32px;margin-right:15px;}
.inp-chk{margin:-2px 5px 0 0;vertical-align:middle;}
.btn{border:0;color:#fff;font-size:16px;height:36px;line-height:35px;width:100%;text-align:center;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;}
.btn:hover{opacity:0.9;}

/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}

/*隐藏*/
.hidden{display:none;}

.cw-ico{width:5px; height:18px; display:inline-block;margin-right: 10px;vertical-align:middle; background:url(../images/cw-ico.png) no-repeat;}

/*头部手机二维码*/
.index-tc1{position: absolute;width: 280px; height:154px;left:-20px; top: 25px; display:none; z-index:99999999; background-color:#fff;}
.tr-list li a:hover .index-tc1{display: block;}
.index-tc1 span{ float:left; margin:10px; display:inline-block; line-height:normal;}
.index-tc1 span i{ display:inline-block;}
.index-tc1 span em{ display:block; color:#666; line-height:18px; text-align:center;}
.index-tc1 span .ios{ background:url(../images/www7.jpg) no-repeat; width:120px; height:120px; background-size: 100% 100%;}
.index-tc1 span .andriod{ background:url(../images/www7.jpg) no-repeat; width:120px; height:120px; background-size: 100% 100%;}
.ico-sj1{ position:absolute; top:-6px; left:65px;width: 0px; width:10px; height:10px; background-color:#fff; border-top:1px solid #e8e8e8; border-left:1px solid #e8e8e8;transform:rotate(45deg);}

/*头部搜索下拉*/
.cgxq-hov{position: absolute;width: 90px; padding:6px 0 10px 0;left:-2px; top:22px; text-align:center;display:none; z-index:99999999; background-color:#fff;border:2px solid #317ee7;border-top:none;}
.srh-select-cur:hover .cgxq-hov{display: block;}
.cgxq-hov li{line-height:24px;display:inline-block;}

.y-icon{background:url(../images/icon.png) no-repeat;display:inline-block;vertical-align:middle;background-position: -180px -270px;}

/*公告*/
.ico-gg1{background-position:-77px -667px;height:16px;width:17px;margin:-3px 4px 0 0;}
a:hover .ico-gg1{background-position:-103px -667px;}

/*右侧对比栏+*/
.toolbar-item a:hover{color:#fff;}


.s-icon{background:url(../images/s_icon.png) no-repeat;display:inline-block;vertical-align:middle;}





