.bg-color-default{
    background-color: #212121;
}
.bg-thead{
    background-color: #39352B;
}
.color-yellow{
    color: #ffbf00;
}
.gray {
    color: #555555;
}
.grayLight {
    color: #d9d9d9;
}
.grayLighter {
    color: #f1f1f1;
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font24 {
    font-size: 24px;
}
.font26 {
    font-size: 26px;
}
.font28 {
    font-size: 28px;
}
.font30 {
    font-size: 30px;
}
.font32 {
    font-size: 32px;
}
.font34 {
    font-size: 34px;
}
.font36 {
    font-size: 36px;
}
.font38 {
    font-size: 38px;
}
.font40 {
    font-size: 40px;
}
.font42 {
    font-size: 42px;
}
.font44 {
    font-size: 44px;
}
.font46 {
    font-size: 46px;
}
.font48 {
    font-size: 48px;
}
.font50 {
    font-size: 50px;
}
.font52 {
    font-size: 52px;
}
.font54 {
    font-size: 54px;
}
.font56 {
    font-size: 56px;
}
.font58 {
    font-size: 58px;
}
.font60 {
    font-size: 60px;
}
.mar-top-5 {
    margin-top: 5px;
}
.mar-top-10 {
    margin-top: 10px;
}
.mar-top-15 {
    margin-top: 15px;
}
.mar-top-20 {
    margin-top: 20px;
}
.mar-top-25 {
    margin-top: 25px;
}
.mar-top-30 {
    margin-top: 30px;
}
.mar-top-35 {
    margin-top: 35px;
}
.mar-top-40 {
    margin-top: 40px;
}
.mar-top-45 {
    margin-top: 45px;
}
.mar-top-50 {
    margin-top: 50px;
}
.mar-top-55 {
    margin-top: 55px;
}
.mar-top-60 {
    margin-top: 60px;
}
.mar-top-65 {
    margin-top: 65px;
}
.mar-top-70 {
    margin-top: 70px;
}
.mar-top-75 {
    margin-top: 75px;
}
.mar-top-80 {
    margin-top: 80px;
}
.mar-top-85 {
    margin-top: 85px;
}
.mar-top-90 {
    margin-top: 90px;
}
.mar-top-95 {
    margin-top: 95px;
}
.mar-top-100 {
    margin-top: 100px;
}
.mar-bottom-5 {
    margin-bottom: 5px;
}
.mar-bottom-10 {
    margin-bottom: 10px;
}
.mar-bottom-15 {
    margin-bottom: 15px;
}
.mar-bottom-20 {
    margin-bottom: 20px;
}
.mar-bottom-25 {
    margin-bottom: 25px;
}
.mar-bottom-30 {
    margin-bottom: 30px;
}
.mar-bottom-35 {
    margin-bottom: 35px;
}
.mar-bottom-40 {
    margin-bottom: 40px;
}
.mar-bottom-45 {
    margin-bottom: 45px;
}
.mar-bottom-50 {
    margin-bottom: 50px;
}
.mar-bottom-55 {
    margin-bottom: 55px;
}
.mar-bottom-60 {
    margin-bottom: 60px;
}
.mar-bottom-65 {
    margin-bottom: 65px;
}
.mar-bottom-70 {
    margin-bottom: 70px;
}
.mar-bottom-75 {
    margin-bottom: 75px;
}
.mar-bottom-80 {
    margin-bottom: 80px;
}
.mar-bottom-85 {
    margin-bottom: 85px;
}
.mar-bottom-90 {
    margin-bottom: 90px;
}
.mar-bottom-95 {
    margin-bottom: 95px;
}
.mar-bottom-100 {
    margin-bottom: 100px;
}
.mar-left-5 {
    margin-left: 5px;
}
.mar-left-10 {
    margin-left: 10px;
}
.mar-left-15 {
    margin-left: 15px;
}
.mar-left-20 {
    margin-left: 20px;
}
.mar-left-25 {
    margin-left: 25px;
}
.mar-left-30 {
    margin-left: 30px;
}
.mar-left-35 {
    margin-left: 35px;
}
.mar-left-40 {
    margin-left: 40px;
}
.mar-left-45 {
    margin-left: 45px;
}
.mar-left-50 {
    margin-left: 50px;
}
.mar-left-55 {
    margin-left: 55px;
}
.mar-left-60 {
    margin-left: 60px;
}
.mar-left-65 {
    margin-left: 65px;
}
.mar-left-70 {
    margin-left: 70px;
}
.mar-left-75 {
    margin-left: 75px;
}
.mar-left-80 {
    margin-left: 80px;
}
.mar-left-85 {
    margin-left: 85px;
}
.mar-left-90 {
    margin-left: 90px;
}
.mar-left-95 {
    margin-left: 95px;
}
.mar-left-100 {
    margin-left: 100px;
}
.mar-right-5 {
    margin-right: 5px;
}
.mar-right-10 {
    margin-right: 10px;
}
.mar-right-15 {
    margin-right: 15px;
}
.mar-right-20 {
    margin-right: 20px;
}
.mar-right-25 {
    margin-right: 25px;
}
.mar-right-30 {
    margin-right: 30px;
}
.mar-right-35 {
    margin-right: 35px;
}
.mar-right-40 {
    margin-right: 40px;
}
.mar-right-45 {
    margin-right: 45px;
}
.mar-right-50 {
    margin-right: 50px;
}
.mar-right-55 {
    margin-right: 55px;
}
.mar-right-60 {
    margin-right: 60px;
}
.mar-right-65 {
    margin-right: 65px;
}
.mar-right-70 {
    margin-right: 70px;
}
.mar-right-75 {
    margin-right: 75px;
}
.mar-right-80 {
    margin-right: 80px;
}
.mar-right-85 {
    margin-right: 85px;
}
.mar-right-90 {
    margin-right: 90px;
}
.mar-right-95 {
    margin-right: 95px;
}
.mar-right-100 {
    margin-right: 100px;
}
.pad-top-5 {
    padding-top: 5px;
}
.pad-top-10 {
    padding-top: 10px;
}
.pad-top-15 {
    padding-top: 15px;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-top-25 {
    padding-top: 25px;
}
.pad-top-30 {
    padding-top: 30px;
}
.pad-top-35 {
    padding-top: 35px;
}
.pad-top-40 {
    padding-top: 40px;
}
.pad-top-45 {
    padding-top: 45px;
}
.pad-top-50 {
    padding-top: 50px;
}
.pad-top-55 {
    padding-top: 55px;
}
.pad-top-60 {
    padding-top: 60px;
}
.pad-top-65 {
    padding-top: 65px;
}
.pad-top-70 {
    padding-top: 70px;
}
.pad-top-75 {
    padding-top: 75px;
}
.pad-top-80 {
    padding-top: 80px;
}
.pad-top-85 {
    padding-top: 85px;
}
.pad-top-90 {
    padding-top: 90px;
}
.pad-top-95 {
    padding-top: 95px;
}
.pad-top-100 {
    padding-top: 100px;
}
.pad-bottom-5 {
    padding-bottom: 5px;
}
.pad-bottom-10 {
    padding-bottom: 10px;
}
.pad-bottom-15 {
    padding-bottom: 15px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}
.pad-bottom-25 {
    padding-bottom: 25px;
}
.pad-bottom-30 {
    padding-bottom: 30px;
}
.pad-bottom-35 {
    padding-bottom: 35px;
}
.pad-bottom-40 {
    padding-bottom: 40px;
}
.pad-bottom-45 {
    padding-bottom: 45px;
}
.pad-bottom-50 {
    padding-bottom: 50px;
}
.pad-bottom-55 {
    padding-bottom: 55px;
}
.pad-bottom-60 {
    padding-bottom: 60px;
}
.pad-bottom-65 {
    padding-bottom: 65px;
}
.pad-bottom-70 {
    padding-bottom: 70px;
}
.pad-bottom-75 {
    padding-bottom: 75px;
}
.pad-bottom-80 {
    padding-bottom: 80px;
}
.pad-bottom-85 {
    padding-bottom: 85px;
}
.pad-bottom-90 {
    padding-bottom: 90px;
}
.pad-bottom-95 {
    padding-bottom: 95px;
}
.pad-bottom-100 {
    padding-bottom: 100px;
}
.pad-left-5 {
    padding-left: 5px;
}
.pad-left-10 {
    padding-left: 10px;
}
.pad-left-15 {
    padding-left: 15px;
}
.pad-left-20 {
    padding-left: 20px;
}
.pad-left-25 {
    padding-left: 25px;
}
.pad-left-30 {
    padding-left: 30px;
}
.pad-left-35 {
    padding-left: 35px;
}
.pad-left-40 {
    padding-left: 40px;
}
.pad-left-45 {
    padding-left: 45px;
}
.pad-left-50 {
    padding-left: 50px;
}
.pad-left-55 {
    padding-left: 55px;
}
.pad-left-60 {
    padding-left: 60px;
}
.pad-left-65 {
    padding-left: 65px;
}
.pad-left-70 {
    padding-left: 70px;
}
.pad-left-75 {
    padding-left: 75px;
}
.pad-left-80 {
    padding-left: 80px;
}
.pad-left-85 {
    padding-left: 85px;
}
.pad-left-90 {
    padding-left: 90px;
}
.pad-left-95 {
    padding-left: 95px;
}
.pad-left-100 {
    padding-left: 100px;
}
.pad-right-5 {
    padding-right: 5px;
}
.pad-right-10 {
    padding-right: 10px;
}
.pad-right-15 {
    padding-right: 15px;
}
.pad-right-20 {
    padding-right: 20px;
}
.pad-right-25 {
    padding-right: 25px;
}
.pad-right-30 {
    padding-right: 30px;
}
.pad-right-35 {
    padding-right: 35px;
}
.pad-right-40 {
    padding-right: 40px;
}
.pad-right-45 {
    padding-right: 45px;
}
.pad-right-50 {
    padding-right: 50px;
}
.pad-right-55 {
    padding-right: 55px;
}
.pad-right-60 {
    padding-right: 60px;
}
.pad-right-65 {
    padding-right: 65px;
}
.pad-right-70 {
    padding-right: 70px;
}
.pad-right-75 {
    padding-right: 75px;
}
.pad-right-80 {
    padding-right: 80px;
}
.pad-right-85 {
    padding-right: 85px;
}
.pad-right-90 {
    padding-right: 90px;
}
.pad-right-95 {
    padding-right: 95px;
}
.pad-right-100 {
    padding-right: 100px;
}
.lh12 {
    line-height: 12px;
}
.lh14 {
    line-height: 14px;
}
.lh16 {
    line-height: 16px;
}
.lh18 {
    line-height: 18px;
}
.lh20 {
    line-height: 20px;
}
.lh22 {
    line-height: 22px;
}
.lh24 {
    line-height: 24px;
}
.lh26 {
    line-height: 26px;
}
.lh28 {
    line-height: 28px;
}
.lh30 {
    line-height: 30px;
}
.lh32 {
    line-height: 32px;
}
.lh34 {
    line-height: 34px;
}
.lh36 {
    line-height: 36px;
}
.lh38 {
    line-height: 38px;
}
.lh40 {
    line-height: 40px;
}
.lh42 {
    line-height: 42px;
}
.lh44 {
    line-height: 44px;
}
.lh46 {
    line-height: 46px;
}
.lh48 {
    line-height: 48px;
}
.dis-block {
    display: block;
}
.dis-inline {
    display: inline;
}
.dis-inline-block {
    display: inline-block;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal!important;
}
.text-nowrap {
    white-space: nowrap;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-red {
    color: #be1f23;
}
.text-darkRed {
    color: #a70a2d;
}
.text-999 {
    color: #d9d9d9;
}
.text-666 {
    color: #666666;
}
.text-333 {
    color: #333333;
}
.text-000 {
    color: #000000;
}
.text-blu{
    color: #0a45fa;
}
.text-fff {
    color: #ffffff;
}
.text-blue {
    color: #0e509a;
}
.text-darkBlue {
    color: #6e7184;
}
.text-greenLight {
    color: #1dc2b4;
}
.text-gray {
    color: #555555;
}
.text-green{
    color: #02b50b;
}
.text-yell{
    color: #ffd000;
}
.text-grayLighter {
    color: #fff;
}
.background-blue {
    background-color: #0e509a;
}
.background-red {
    background-color: #be1f23;
}
.background-greyLight {
    background-color: #f1f1f1;
}
.background-grey {
    background-color: #dddddd;
}
.background-white {
    background-color: #ffffff;
}
.color-grey {
    color: #cccccc;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
input.text-placeholder-center::-ms-input-placeholder {
    text-align: center;
}
input.text-placeholder-center::-webkit-input-placeholder {
    text-align: center;
}
.mar-auto {
    margin: 0 auto;
}
.mar-0 {
    margin: 0!important;
}
.pad-0 {
    padding: 0!important;
}
.mar-top-0 {
    margin-top: 0 !important;
}
.mar-bottom-0 {
    margin-bottom: 0 !important;
}
.mar-left-0 {
    margin-left: 0 !important;
}
.mar-right-0 {
    margin-right: 0 !important;
}
.pad-top-0 {
    padding-top: 0 !important;
}
.pad-bottom-0 {
    padding-bottom: 0 !important;
}
.pad-left-0 {
    padding-left: 0 !important;
}
.pad-right-0 {
    padding-right: 0 !important;
}
.mar-5 {
    margin: 5px!important;
}
.mar-10 {
    margin: 10px!important;
}
.mar-15 {
    margin: 15px!important;
}
.mar-20 {
    margin: 20px!important;
}
.pad-5 {
    padding: 5px!important;
}
.pad-10 {
    padding: 10px!important;
}
.pad-15 {
    padding: 15px!important;
}
.pad-20 {
    padding: 20px!important;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.no-border-left {
    border-left: none !important;
}
.no-border-right {
    border-right: none !important;
}
.no-border-bottom {
    border-bottom: none !important;
}
.no-border-top {
    border-top: none !important;
}
.valign-middle {
    vertical-align: middle;
}
.valign-top {
    vertical-align: sup;
}
.valign-bottom {
    vertical-align: sub;
}
.border-word-simple {
    display: inline-block;
    border: 1px solid #d9d9d9;
    padding: 10px 20px;
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
.underline,
.underline:hover {
    text-decoration: underline;
}
/*按钮*/
.sui-btn.btn-big {
    width: 166px;
    height: 44px;
    line-height: 40px;
    font-size: 14px;
}
.sui-btn.btn-big i {
    font-size: 20px;
}
.sui-btn.btn-small-L {
    width: 76px;
    height: 25px;
    line-height: 20px;
    font-size: 14px;
}
.sui-btn.btn-small-L i {
    font-size: 14px;
}
.sui-btn.btn-light-primary {
    border: 1px solid #0e509a;
    background: #deecfc;
    color: #0e509a;
}
.sui-btn.btn-light-primary:hover {
    background: #c7dffa;
}
.sui-btn.btn-light-red {
    border: 1px solid #be1f23;
    background: #ffefef;
    color: #be1f23;
}
.sui-btn.btn-light-red:hover {
    background: #ffd6d6;
}
.sui-btn.btn-light-darkBlue {
    border: 1px solid #6e7184;
    background: #f1f1f1;
    color: #333333;
}
.sui-btn.btn-light-darkBlue:hover {
    background: #dddddd;
}
.sui-btn .iconfont {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 2px;
}
.btn-red {
    color: #ffffff;
    background-color: #be1f23;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #be1f23;
}
.btn-red:hover,
.btn-red:focus {
    color: #ffffff;
    background-color: #e1484c;
    border: 1px solid #e1484c;
}
.col-3 {
    width: 33.3%;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
.border-red {
    border: 1px solid #be1f23;
}
.border-blue {
    border: 1px solid #0e509a;
}
.border-bottom-blue {
    border-bottom: 1px solid #0e509a;
}
.border-top-blue {
    border-top: 1px solid #0e509a;
}
.border-darkBlue {
    border: 1px solid #6e7184;
}
.border-lightBlue {
    border: 1px solid #6e7184;
}
.border-bottom-darkBlue {
    border-bottom: 1px solid #6e7184;
}
.border-top-darkBlue {
    border-top: 1px solid #6e7184;
}
.border-gray {
    border: 1px solid #b9b9b9;
}
.border-bottom-gray {
    border-bottom: 1px solid #b9b9b9;
}
.border-top-gray {
    border-top: 1px solid #b9b9b9;
}
.border-left-gray {
    border-left: 1px solid #b9b9b9;
}
.border-right-gray {
    border-right: 1px solid #b9b9b9;
}
hr {
    margin: 0;
}
hr.dash {
    border-top: 1px dashed #eeeeee;
}
/*---------------------------------------------------------------------------*/
.g-body-wrap {
    display: block;
    width: 1200px;
    position: relative;
}
.wrap-1200 {
    width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.wrapper {
    width: 998px;
}
.text-justify {
    text-align: center;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
}
