
/*敬请期待*/
.reg-wrap{padding:40px 0;}
.stay_tuned{ background:url(../images/stay_tuned.png) no-repeat center center; width:478px; height:242px; line-height:419px; font-size:120px; color:#126fb5; text-align:center; margin:0 auto; text-indent:-9999px; overflow:hidden;}
.stay_title{ font-size:25px; color:#232326; text-align:center; padding-top:50px;}
.stay_text{ font-size:35px; color:#232326; text-align:center; padding-top:50px;}




